<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title><%=title%></title>

<!-- Styles -->
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-rtl.min.css">
<link rel="stylesheet" href="/lib/font-awesome/font-awesome.min.css">
<link rel="stylesheet" href="/lib/font-awesome/font-awesome-rtl.css">
<link rel="stylesheet" href="/lib/animate.css">
<link rel="stylesheet" href="/lib/font.css">
<link rel="stylesheet" href="/lib/materialize/materialize.min.css">
<link rel="stylesheet" href="/lib/materialize/material-icons.css">
<link rel="stylesheet" href="/stylesheets/admin/style.css">

<!-- JavaScripts -->
<script src="/lib/jquery/jquery.min.js" charset="utf-8"></script>
<script src="/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script src="/lib/materialize/materialize.min.js" charset="utf-8"></script>
