<ul class="dropdown-content" id="user_dropdown">
    <li><a class="indigo-text" href="/admin/profile">پروفایل</a></li>
    <li><a class="indigo-text" href="/api/v1/logout">خروج</a></li>
</ul>

<nav class="indigo" role="navigation">
    <div class="nav-wrapper">
        <!--<a data-activates="slide-out" class="button-collapse show-on-" href="#!"><img style="margin-top: 17px; margin-left: 5px;" src="https://res.cloudinary.com/dacg0wegv/image/upload/t_media_lib_thumb/v1463989873/smaller-main-logo_3_bm40iv.gif" /></a>-->

        <ul class="left hide-on-med-and-down">
            <li>
                <label style="margin-left: 50px;font-size: 17px;color: #fff;"><%=/*user*/%>farid rashidi :)</label>
                <a class='right dropdown-button' href='' data-activates='user_dropdown'><i class=' material-icons'>account_circle</i></a>
            </li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
</nav>

<nav>
    <div class="nav-wrapper indigo darken-2">
        <a style="margin-right: 20px;" class="breadcrumb" href="/admin">مدیریت</a>
        <a class="breadcrumb" href="/admin">صفحه اصلی</a>

        <div style="margin-left: 20px;" id="timestamp" class="left"></div>
    </div>
</nav>